In [3]:
import pandas as pd
a = pd.read_csv(r'C:\Users\aleksandr.bocharov\reprep\reprep\lesson_1\lesson_1_data.csv', sep=';', encoding='cp1251')

In [4]:
a

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [8]:
a = True
if a:
    print('false')
else: 
    print('true')

false

In [9]:
analysts = {'sasha': [2, 100000], 'gleb': [3, 150000], 'denis': [4, 200000]}

In [17]:
analysts['sasha']

[2, 100000]

In [21]:
list = [1, 2, 3, 4]
list[0]

1

In [27]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
for i in user_ages:
    if i > 18:
        print(i)

21
35
42
27

In [26]:
list.append(['new', 65])
list

[1, 2, 3, 4, 'sdsd', 42, 'new', 65, ['new', 65]]

In [20]:
for i in analysts.values():
    print('analyst salary is {}'.format(i[1]))

analyst salary is 100000
analyst salary is 150000
analyst salary is 200000

In [16]:
for i in analysts:
    print('analyst name is {}'.format(i),
          'analyst salary is {}'.format(analysts[i][1]),
          'analyst exp is {}'.format(analysts[i][0]))

analyst name is sasha analyst salary is 100000 analyst exp is 2
analyst name is gleb analyst salary is 150000 analyst exp is 3
analyst name is denis analyst salary is 200000 analyst exp is 4

In [60]:
worker = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 10]]

In [64]:
worker[0][0]

'Ivan'

In [67]:
for i in worker:
    print(i)

['Ivan', 'Ivanov', 100000, 1]
['Petr', 'Petrov', 150000, 2]
['Sidor', 'Sidorov', 200000, 10]

In [70]:
# if worker[3] < 2:
#     position = 'junior'
# elif worker[3] > 5:
#     position = 'senior'
# else:
#     position = 'middle'
for i in worker:
    if i[3] < 2:
        position = 'junior'
    elif i[3] > 5:
        position = 'senior'
    else:
        position = 'middle'
    print('{user_name} {user_family} is {position}'.format(user_name = i[0], user_family = i[1], position = position))
# status

Ivan Ivanov is junior
Petr Petrov is middle
Sidor Sidorov is senior

In [31]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [44]:
tens = []
for i in values:
    if i % 10 == 0:
        tens.append(i)
tens

[10, 100, 20, 50, 160, 210]

In [41]:
12 % 10

2

In [71]:
lst = []
x = 0
while x <= 10:
    lst.append(x)
    x += 2
lst

[0, 2, 4, 6, 8, 10]

In [73]:
salaries_dict = {'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}

In [74]:
users_dict = {'mvolkova': {'name':'Masha'  , 'surname': 'Volkova', 'age': 25, 'salary': 60000 , 'position': 'junior'},
              'pvoronov': {'name':'Peter'  , 'surname': 'Voronov', 'age': 27, 'salary': 100000, 'position': 'junior'},
              'pparker' : {'name':'Peter'  , 'surname': 'Parker' , 'age': 35, 'salary': 150000, 'position': 'middle'},
              'akarpov' : {'name':'Anatoly', 'surname': 'Karpov' , 'age': 30, 'salary': 250000, 'position': 'senior'}}

In [75]:
users_dict['mvolkova']['name']

'Masha'