In [2]:
import pandas as pd
import os

In [4]:
os.listdir(r'C:\Users\aleksandr.bocharov\reprep\reprep')

['.DS_Store', '.git', 'lesson_1', 'lesson_2', 'lesson_3', 'lesson_4', 'other']

In [5]:
folder_data = [i for i in os.listdir(r'C:\Users\aleksandr.bocharov\reprep\reprep') if i.startswith('lesson')]
folder_data

['lesson_1', 'lesson_2', 'lesson_3', 'lesson_4']

In [8]:
x = ['1', '2', '3', 'start', '4', '5', '6', 'end', '7', '8']
x

['1', '2', '3', 'start', '4', '5', '6', 'end', '7', '8']

In [9]:
scanning = False
for i in x:
    if i == 'end':
        scanning = False
        continue

    if scanning:
        print(i)

    if i =='start':
        scanning = True
        continue

4
5
6

In [13]:
df = {'co1': ['val1', 'val2', 'val3', 'val4'], 'col2': ['cal1', 'cal2', 'cal3', 'cal4'], 'col3': ['bal1', 'bal2', 'bal3', 'bal4']}
df = pd.DataFrame(df)
df

    co1  col2  col3
0  val1  cal1  bal1
1  val2  cal2  bal2
2  val3  cal3  bal3
3  val4  cal4  bal4

In [14]:
df.shape

(4, 3)

In [15]:
df_shape = 'df has {y} rows and {x} columns'.format(y = df.shape[0], x= df.shape[1])
df_shape

'df has 4 rows and 3 columns'

In [20]:
nan_df = {'co1': ['val1', 'val2', None, 'val4'], 'col2': ['cal1', None, 'cal3', None], 'col3': [None, 'bal2', 'bal3', 'bal4']}
nan_df = pd.DataFrame(nan_df)
nan_df

    co1  col2  col3
0  val1  cal1  None
1  val2  None  bal2
2  None  cal3  bal3
3  val4  None  bal4

In [26]:
nan_df.isnull().sum()

co1     1
col2    2
col3    1
dtype: int64